
<div class="container">
	<div class="d-flex justify-content-center h-100">
<div class="card-header">
<h1><em>New Poll<em></h1>
</div>
</div>
</div>

<%= render 'form', poll: @poll %>

<%= link_to 'Back', polls_path %>
