<!-- <p id="notice"><%#= notice %></p> -->

<p>
  <strong>Poll:</strong>
  <%= @myoption.poll_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @myoption.user_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @myoption.title %>
</p>

<%#= #link_to 'Edit', edit_myoption_path(@myoption) %> |
<%#= link_to 'Back', myoptions_path %>
